vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Jan 2015 14:25:53 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|project.html Home.dwt java.html grid.html index.html
vti_author:SR|Mayyourfafson\\blameablemirror
vti_modifiedby:SR|Mayyourfafson\\blameablemirror
vti_timecreated:TR|30 Dec 2014 10:28:44 -0000
vti_nexttolasttimemodified:TW|04 Jan 2015 14:25:34 -0000
vti_cacheddtm:TX|04 Jan 2015 14:25:53 -0000
vti_filesize:IR|3786
vti_cachedlinkinfo:VX|S|../images/logo.jpg Q|http://fonts.googleapis.com/css
vti_cachedsvcrellinks:VX|FSUS|images/logo.jpg NQHS|http://fonts.googleapis.com/css
